* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  background-color: #000000;
  color: #ffffff;
}

header {
  background-color: #d45c0c;
  color: #fff;
  text-align: center;
  padding: 15px;
}

main {
  padding: 20px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  max-width: 900px;
  margin: auto;
}

h2 {
  margin-bottom: 10px;
}

form {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  width: calc(50% - 10px);
}

button {
  background-color: #d45c0c;
  color: white;
  border: none;
  border-radius: 8px;
  padding: 10px 15px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d45c0c;
}

#busca-produto {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
}

table {
  width: 100%;
  border-collapse: collapse;
  background-color: #cf926a;
  border-radius: 10px;
  overflow: hidden;
  box-shadow: 0 0 5px rgba(0,0,0,0.1);
}

thead {
  background-color: #d45c0c;
  color: rgb(0, 0, 0);
}

td, th {
  text-align: left;
  color:#000000;
  padding: 12px;
  border-bottom: 1px solid #d45c0c;
}

td button {
  margin-right: 5px;
}

@media (max-width: 768px) {
  form input {
    width: 100%;
  }

  table {
    font-size: 14px;
  }

  td, th {
    padding: 8px;
  }

  h1 {
    font-size: 20px;
  }
}

#form-editar {
  background: #c97322;
  padding: 20px;
  border-radius: 10px;
  margin-top: 20px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}

#form-editar input {
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  border-radius: 8px;
  border: none;
}

#form-editar button {
  margin-right: 10px;
  padding: 10px 15px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

#form-editar button[type="submit"] {
  background: #2ecc71;
  color: white;
}

#form-editar button[type="button"] {
  background: #e74c3c;
  color: white;
}

